.imagen{
  text-align: center;
 
}
.btn{
    padding: 2rem;
    background-color: blue;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    width: 26rem;
    border-radius: 20px;

}
.botones{
   
    margin: 10rem auto;
    
    display: flex;
    justify-content:space-evenly;
    
    &:hover{
        cursor: pointer;
    }

}
.contadores{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: rgba(184, 184, 173, 0.137);
    text-align: center;
    align-items: center;
    p{
        background-color: rgb(50, 200, 205);
        width: 30rem;
        border-radius: 10px;
        padding: 2rem;
        font-weight: 700;
    }

}