.footer{
    text-align: center;
    padding: 2rem 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(67,252,94,1) 92%, rgba(70,233,252,1) 100%);
    font-weight: 700;
}