.footer{
    text-align: center;
    padding: 2rem 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(8, 8, 8) 0%, rgb(1, 44, 8) 92%, rgb(66, 68, 68) 100%);
    font-weight: 700;
}