.header{
    background: rgb(40,168,184);
background: linear-gradient(144deg, rgba(40,168,184,0.17130602240896353) 1%, rgba(142,156,218,0.9976365546218487) 17%, rgba(248,244,251,1) 38%, rgba(238,247,231,0.5438550420168067) 74%, rgba(174,137,223,0.196516106442577) 87%, rgba(177,225,235,0.26934523809523814) 100%);
}
.titulo{
    text-align: center;
    padding: 2rem 0;
    color: rgb(132, 0, 255);
  
}