.header{
    background: rgb(5, 32, 36);
background: linear-gradient(144deg, rgba(17, 18, 19, 0.171) 1%, rgba(23, 26, 39, 0.998) 17%, rgba(248,244,251,1) 38%, rgba(20, 24, 17, 0.544) 74%, rgba(174,137,223,0.196516106442577) 87%, rgba(177,225,235,0.26934523809523814) 100%);
}
.titulo{
    text-align: center;
    padding: 2rem 0;
    color: rgb(255, 255, 255);
  
}